<div *ngIf="isLoading$ | async">Loading...</div>

<div *ngIf="error$ | async">Some error happened...</div>

<div *ngIf="feed$ | async">
  <div class="article-preview" *ngFor="let bonsai of (feed$ | async)?.bonsais">
    <div class="article-meta">
      <div class="info">
        <a [routerLink]="['/profiles', bonsai.owner.username]" class="author"
          >{{bonsai.owner.username}}
          <img [src]="bonsai.owner.image || '../../../../../../assets/images/blank-profile-picture-gd7c2a3dcd_640.png'" />
        </a>
        <span class="date">{{bonsai.bonsaiCreationDate}}</span>
      </div>
      <div class="pull-xs-right">ADD TO FAVORITES</div>
    </div>
    <a [routerLink]="['/bonsais', bonsai.species]" class="preview-link">
      <h1>{{bonsai.name}}</h1>
      <p>{{bonsai.description}}</p>
      <span>Read more...</span>

      LIST OF TAGS
    </a>
  </div>
  PAGINATION
</div>
